$utilities: () !default; /* 유틸리티 초기화 */
$utilities: map-merge(
   (
      'button-padding': ( /* 새로운 클래스 변수를 정의 */ 
			responsive: true,
         property: padding,
         class: bp, /* 새로운 클래스명을 정의 */
         values: /* $spacers대신에 새로운 맵으로 정의  */
            (
               0: 0,
               1: 0rem,
               2: 0rem,
               3: 0rem,
               4: 0rem,
               5: 1,
            ),
      ),
   ),
   $utilities /* 기존 유틸리티와 merge */
);

@import './node_modules/bootstrap/scss/bootstrap';