@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --bs-box-shadow-sm: 0rem 0.3rem 0.4rem rgba(0, 0, 0, 0.08);
  --bs-box-shadow: 0 0.9rem 1.3rem rgb(26 29 41 / 11%);
  --bs-border-color: #babecd;
  --bs-tableborder-color: #dcdee7;
  --bs-pagination-color: #A2A2BA;
}

.me-1 {
  margin-right: 0.15rem !important;
}

.btn-check:focus + .btn, .btn:focus,
.page-link:focus,
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0);
}

.table-hover > tbody > tr:hover > * {
  --bs-table-bg-state: #a5a5a514;
}

.form-control {
  border: var(--bs-border-width) solid var(--bs-border-color);
}

.table {
  --bs-table-border-color: var(--bs-tableborder-color);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
button,
input,
textarea,
select,
span,
small {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 0.875rem;
}
a:hover {
  color: #0300c9;
}

.tb_div::-webkit-scrollbar {
  width: 7px;
}

.tb_div::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2078431373);
}

.tb_div::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3137254902);
}

.tb_div::-webkit-scrollbar-button {
  display: none;
}

/* hover 효과 */
.tb_div::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5647058824);
  -webkit-transition: all 0.2s;
  transition: all 0.2s; /* 작동 안 됨 */
}

/* 코너에 라운드 효과 */
.tb_div::-webkit-scrollbar-track,
.tb_div::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

@keyframes slideInGnb {
  from {
    top: 90px;
    opacity: 0;
  }
  to {
    top: 50px;
    opacity: 1;
  }
}
.lnb-content:hover {
  transition: 2s;
}

.lnb-content {
  -webkit-animation-name: slideInGnb;
  -webkit-animation-duration: 0.3s;
  animation-name: slideInGnb;
  animation-duration: 0.3s;
}

.row > * {
  padding-left: calc(var(--bs-gutter-x) * 0);
  padding-right: calc(var(--bs-gutter-x) * 0);
}

.bsb-navbar.navbar-expand-md .navbar-nav {
  --bs-nav-link-padding-y: 12px;
}

.section-content {
  padding: 1rem 0.5rem;
}

.shadow-box {
  transition: 0.5s ease-in;
}
.shadow-box:hover {
  box-shadow: 0 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.wrapall {
  max-width: 1599.98px;
}

.wrapall-min {
  min-width: 827.98px;
}

.mainBg {
  background-color: #D7DCE6;
}

.bodyBg {
  background-color: #f3f4f6;
}

.nav-item.dropdown .dropdown-menu {
  position: absolute;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
}

.dropdown-toggle::after {
  border: 0;
}

.sub-body-color {
  background-color: #fff;
}

#header {
  background-color: #fff;
}
#header #navTop {
  height: 43px;
}
#header #navTop a {
  font-size: 0.875rem;
  font-weight: 600;
  white-space: nowrap;
}
#header #navTop a:hover {
  color: #2626E4;
}
#header #navTop .notice {
  width: 26px;
  height: 26px;
  display: inline-block;
  border-radius: 50%;
  background: #E6E6F1 url(../images/notice.svg) center no-repeat;
  border: 1px solid #A5A5C8;
  position: relative;
}
#header #navTop .notice:hover {
  border: 1px solid #6b75ff;
  background: #fff url(../images/notice.svg) center no-repeat;
}
#header #navTop .notice .badge {
  top: 3px;
  font-size: 9px;
  right: -5px;
  background-color: #dc3545 !important;
  line-height: 1.1;
  position: absolute !important;
  min-width: 17px;
  width: 17px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
#header #navTop .admin {
  height: 26px;
  background: #E6E6F1 url(../images/admin.svg) 12px center no-repeat;
  width: 96px;
  padding-left: 27px;
  border-radius: 30px;
  border: 1px solid #A5A5C8;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.2;
}
#header #navTop .admin:hover {
  border: 1px solid #6b75ff;
  background: #fff url(../images/admin.svg) 12px center no-repeat;
  color: #4b51a8;
}
#header .dropdown-menu {
  border: 1.5px solid #2626E4 !important;
}
#header .dropdown-menu li:hover {
  background: #e7e7ed;
}
#header .dropdown-menu a:hover {
  color: #2626E4;
  font-weight: 600;
}
#header .dropdown-menu::after {
  border-color: #fff transparent;
  border-style: solid;
  border-width: 0 8px 10px 8.5px;
  content: "";
  display: block;
  left: calc(50% - 5px);
  position: absolute;
  top: -9px;
  width: 0;
  z-index: 1;
}
#header .dropdown-menu::before {
  border-color: #695df0 transparent;
  border-style: solid;
  border-width: 0 8px 10px 8.5px;
  content: "";
  display: block;
  left: calc(50% - 5px);
  position: absolute;
  top: -10px;
  width: 0;
  z-index: 0;
}
#header .dropdown-item:active {
  background-color: #eeeef6;
}
#header #navPrimary {
  background-color: #000739;
  height: 50px;
}
#header #navPrimary .nav-link {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.65);
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header #navPrimary .nav-link:hover {
  color: #fff;
  transition: all 0.2s;
}
#header #navPrimary .nav-link:visited {
  font-size: 1.125rem;
  transition: all 0.2s;
}
@media (max-width: 1279.98px) {
  #header #navPrimary .nav-link .nav-link {
    font-size: 0.8125rem !important;
  }
}
#header #navPrimary .nav-link .dropdown-menu::after {
  content: "";
  width: 10px;
  height: 10px;
}
#header #navPrimary .nav-link .dropdown-toggle::after {
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
  border: 0 solid transparent !important;
  padding: 0;
  margin: 0;
}
#header #navPrimary .nav-link .offcanvas {
  width: 300px !important;
}
#header #navPrimary .nav-link .offcanvas .mobile-menu a {
  font-size: 1.1rem !important;
}
#header #navPrimary .nav-link .offcanvas .mobile-menu a.active {
  font-weight: bold !important;
  color: #000739;
}
#header #navPrimary .nav-link .offcanvas .mobile-menu li {
  padding-left: 0.75rem;
  line-height: 1.75;
}

#frontInfos .card {
  border-radius: 0.25rem;
}
#frontInfos .card .title {
  font-size: 1.125rem;
  font-weight: bold;
  padding-top: 7px;
  text-align: left;
}
#frontInfos .card .title::after {
  content: "";
  background: url(../images/rec-bl01.png) no-repeat;
  background-position: left center;
  display: inline-block;
  width: 10px;
  height: 30px;
  position: absolute;
  left: 23px;
  top: 10px;
}
#frontInfos .infos {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#frontInfos .infos .card.card-body {
  background-color: white;
  min-height: 22.5rem;
  max-height: 22.5rem;
  padding: 0 !important;
  border: 1px solid #bec6cf;
}
#frontInfos .infos .card.card-body .card-title {
  border-bottom: 1px solid #C5C9D8;
  height: 46px;
  margin-bottom: 0;
  padding: 8px 8px 8px 35px;
}
#frontInfos .infos .card.card-body p {
  font-size: 1.1rem;
}
#frontInfos .subScreen {
  margin-bottom: 1rem;
}
#frontInfos .subScreen .title {
  font-size: 1.125rem;
  font-weight: bold;
  padding-top: 7px;
  padding-left: 10px;
  text-align: left;
}
#frontInfos .subScreen .title::before {
  content: "";
  background: url(../images/rec-bl01.png) no-repeat;
  background-position: left center;
  display: inline-block;
  width: 10px;
  height: 30px;
  position: relative;
  left: -7px;
  top: 9px;
}
#frontInfos .subScreen .outline-btn {
  height: 28px;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.3;
  border-radius: 2px;
  min-width: 80px;
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border: 1px solid #474C96;
  color: #474C96;
}
#frontInfos .subScreen .outline-btn:hover {
  border-color: #7467fe;
  color: #6c5fff;
  transition: 0.2s;
}
#frontInfos .subScreen .flat-btn {
  height: 28px;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.3;
  border-radius: 2px;
  min-width: 80px;
  background: #353B91;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border: 1px solid #babecd;
  color: #fff;
}
#frontInfos .subScreen .flat-btn:hover {
  border-color: #595eb1;
  background: #666bbf;
  color: #fff;
  transition: 0.2s;
}
#frontInfos .subScreen .srch-card {
  background-color: #F7F8FA;
  min-height: 50px;
  max-height: auto;
  border: 1px solid #c5cdd7;
  border-radius: 3px;
}
#frontInfos .subScreen .srch-card .src-title {
  font-size: 0.875rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
#frontInfos .subScreen .srch-card .srchForm {
  display: inline-flex;
  list-style: none;
}
#frontInfos .subScreen .srch-card .srchForm .srcTit {
  width: 150px;
  font-size: 0.875rem;
  font-weight: 600;
}
#frontInfos .subScreen .srch-card .srch-btn {
  height: 31px;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.6;
  border-radius: 2px;
  min-width: 90px;
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border: 1px solid #babecd;
  color: #475C74;
}
#frontInfos .subScreen .srch-card .srch-btn:hover {
  border-color: #c2bfd3;
  color: #1c0063;
  background: #d8d7e3;
}
#frontInfos .subScreen .tb-card {
  background-color: #fff;
  padding: 0 !important;
  border: 1px solid #b7bbcc;
  border-bottom: 2px solid #C9CFD7;
  border-radius: 3px;
}

.breadcrumb-wrapall {
  background-color: #F3F4F8;
  border-bottom: 1px solid #c5cadc;
  height: 38px;
}
.breadcrumb-wrapall a {
  font-size: 0.8125rem;
  color: #646578;
  text-decoration: none;
}
.breadcrumb-wrapall a.home {
  background: url(../images/home.png) no-repeat;
  background-position: 0 3px;
  display: inline-block;
  font-size: 0.8125rem;
  color: #646578;
  width: 55px;
  height: 20px;
  padding-left: 20px;
  position: relative;
}

.navbar-toggler-icon {
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y:0;
  background: url(../images/nav-toggle-icon.svg) center right no-repeat;
  opacity: 0.7;
  width: 3rem;
  height: 3rem;
  margin-top: -15px;
}
.navbar-toggler-icon:hover {
  opacity: 1;
  transition: 0.5s;
}

.offcanvas .slide-menu-active {
  padding: 0 !important;
  background: #000739;
}
.offcanvas .slide-menu-active:hover {
  background: #000739 !important;
}
.offcanvas .slide-menu-active .slide-is-active {
  color: #fff !important;
  height: 46px;
  padding: 13px 10px 10px 30px;
  display: block;
}
.offcanvas .slide-menu-active ul.list-unstyled {
  background: #565c82;
}
.offcanvas .slide-menu-active ul.list-unstyled li {
  border-top: 1px solid #747891;
}
.offcanvas .slide-menu-active ul.list-unstyled li a {
  color: #fff !important;
  padding-left: 20px;
}
.offcanvas .offcanvas-body {
  background-color: rgba(238, 238, 238, 0.5647058824);
  border-top: 1px solid #a5a9b3;
  border-bottom: 1px solid #c4c7d9;
  padding: 0;
}
.offcanvas .offcanvas-body li:hover {
  color: #2f23b2 !important;
  display: block;
}
.offcanvas .offcanvas-body ul {
  padding: 0;
  margin: 0;
}
.offcanvas .offcanvas-body ul li {
  padding: 10px 10px 10px 30px;
  border-top: 1px solid #c4c7d9;
  color: #000;
  font-weight: 600;
}
.offcanvas .offcanvas-body ul li:hover {
  color: #2f23b2 !important;
}

.card-btn {
  height: 28px;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.3;
  border-radius: 2px;
  border: 1px solid #babecd;
  color: #475C74;
}
.card-btn:hover {
  border-color: #695df0;
  color: #695df0;
}

.footer-bg {
  border-top: 1px solid #5C7CC5;
}
.footer-bg .company-info a {
  font-size: 0.8125rem;
  height: 12px;
  white-space: nowrap;
  text-align: left;
  text-decoration: none;
  border-left: 1px solid #666;
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
}
.footer-bg .company-info a:hover {
  color: #2626E4;
}
.footer-bg .btm-menu {
  font-size: 0.8125rem;
  border-left: solid #999 1px;
  padding-left: 10px;
  margin-left: 0;
}
.footer-bg .btm-menu dd, .footer-bg .btm-menu dt {
  height: 16px;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #fff;
}

.table-dark {
  --bs-table-bg: #F4F5F9 !important;
  color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
  color: #000 !important;
  height: 43px;
  position: sticky;
  top: 0;
}
.table-dark th {
  background-image: linear-gradient(#F4F5F9 41px, #5CCCE7 2px);
  white-space: nowrap;
  padding-bottom: 10px;
}

.table > :not(caption) > * > * {
  color: var(--bs-table-color-state, var(--bs-table-color-type, #000));
}

.table {
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  color: #475C74;
}

.tb_div {
  width: 100%;
  max-width: 1500px;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 530px;
}

.tb_div table {
  width: 100%;
  min-width: 100%;
  margin-bottom: 0;
}

.tb_div_h {
  height: 312px !important;
}

.tb th, td {
  white-space: nowrap;
}

.page-link {
  color: #808096;
}
.page-link:hover {
  z-index: 2;
  background-color: #a2a5d3;
  border-color: #2f23b2;
  color: #fff;
}

.page-item.active:hover {
  border-color: #353b91;
  background-color: #353b91;
}
.page-item.active .page-link {
  border-color: #353b91;
  background-color: #353b91;
}
.page-item.active .page-link:hover {
  z-index: 2;
  background-color: #353b91;
  border-color: #353b91;
  color: #A6ABBB;
}

.page-item:first-child .page-link {
  --bs-pagination-padding-x: 1.5rem;
  background: url(../images/l-arrow.svg) center no-repeat;
  height: 37.3px;
}
.page-item:first-child .page-link:hover {
  background: #a2a5d3 url(../images/l-arrow-w.svg) center no-repeat;
}

.page-item:last-child .page-link {
  --bs-pagination-padding-x: 1.5rem;
  background: url(../images/r-arrow.svg) center no-repeat;
  height: 37.3px;
}
.page-item:last-child .page-link:hover {
  background: #a2a5d3 url(../images/r-arrow-w.svg) center no-repeat;
}

/* 모바일 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1259px) {
  html, body {
    min-width: 768px !important;
    overflow-x: hidden;
  }
  button {
    white-space: nowrap;
  }
  #navTop .navbar-brand {
    transform: scale(0.8);
  }
  #navTop a.btn {
    font-weight: 600;
    white-space: wrap;
  }
  #navTop button.notice,
  #navTop button.admin {
    transform: scale(0.9);
    float: left;
  }
  #navPrimary a.nav-link {
    font-size: 0.875rem;
    padding-right: 5px;
    padding-left: 5px;
  }
  .card-fs-bg {
    background-color: #000;
    padding: 30px auto;
  }
}/*# sourceMappingURL=app.css.map */